USE [master]
GO
/****** Object:  Database [Sample]    Script Date: 11.04.2022 15:31:09 ******/
CREATE DATABASE [Sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Sample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Sample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sample]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11.04.2022 15:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ArticleNumber] [nvarchar](10) NOT NULL,
	[Cost] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.04.2022 15:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[login] [nvarchar](50) NOT NULL,
	[psw] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Title], [ArticleNumber], [Cost]) VALUES (1, N'Попрыгун 2299', N'34750945', N'1688')
INSERT [dbo].[Product] ([ID], [Title], [ArticleNumber], [Cost]) VALUES (2, N'Попрыгун 3016', N'74919447', N'615')
INSERT [dbo].[Product] ([ID], [Title], [ArticleNumber], [Cost]) VALUES (3, N'Попрыгун 6412', N'28152672', N'523')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Users] ([login], [psw], [role], [name]) VALUES (N'123', N'123', N'Менеджер', N'Алена')
INSERT [dbo].[Users] ([login], [psw], [role], [name]) VALUES (N'1233', N'1233', N'Менеджер', N'Иван')
INSERT [dbo].[Users] ([login], [psw], [role], [name]) VALUES (N'1234', N'1234', N'Заказчик', N'Менеджер')
GO
USE [master]
GO
